
body {
	background-image: linear-gradient(rgba(187, 209, 247, 0.77),rgba(90, 26, 94, 0.7)),url(https://townsquare.media/site/40/files/2015/12/RS9553_477397459.jpg?w=980&q=75);
  <!--background-image: url('https://townsquare.media/site/40/files/2015/12/RS9553_477397459.jpg?w=980&q=75');-->
  background-size: 50% 100%;
  background-image: linear-gradient(rgba(187, 209, 247, 0.77),rgba(90, 26, 94, 0.7)),url(https://townsquare.media/site/40/files/2015/12/RS9553_477397459.jpg?w=980&q=75);
  <!--background-image: url('https://townsquare.media/site/40/files/2015/12/RS9553_477397459.jpg?w=980&q=75');-->
  background-size: 50% 100%;
  background-attachment: fixed;
}
.directors{
  font-family: 'Courier New', monospace;
  text-align: right;
  font-size: 140%;
  align-items : center;
  color: white;
}

img {
  width: 200px;
  height: 200px;
  border: 0px solid black;
}
table 
{
	background-color: rgb(238, 203, 255);
  border: 1px solid black;
  font-size: 120%;
  width:10%;
}  
.center {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 700px) {
.directors{
  text-align: right;
  font-size: 12px;
  align-items : center;
}
img {
  width: 60px;
  height: 60px;
  border: 0px solid black;
  padding:1px;
  
}
table 
{
  border: 1px solid black;
  font-size: 8px;
  width:30px;
  padding: 10px;
  font-weight: 600;
}  
}
